<main class="main-content">
  <section id="update-user">
    <div class="header">
      <h1>Update Product</h1>
    </div>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
      </div>

      <div class="form-group">
        <label for="price">price</label>
        <input type="text" id="price" [(ngModel)]="product.price" name="price" required>
      </div>

      <div class="form-group">
        <label for="description">description</label>
        <input type="text" id="description" [(ngModel)]="product.description" name="price" required>
      </div>

      <div class="form-group">
        <label for="qty">qty</label>
        <input type="text" id="qty" [(ngModel)]="product.qty" name="qty" required>
      </div>

      <button class="btn" type="submit">UpdateProduct</button>
    </form>
  </section>
</main>
